<html>
<body>
    <h3>Real Estate Classification</h3>
<div>
  <form action="/predict" method="POST">
    <label for="house_age">House age</label>
    <input type="number" step="0.01" id="house_age" name="house_age">
    <br>
    <label for="dist_nearest_MRTstation">Distance nearest MRT station</label>
    <input type="number" step="0.01" id="dist_nearest_MRTstation" name="dist_nearest_MRTstation">
    <br>
    <label for="num_convienience_store">Number of convienience store</label>
    <input type="number" step="0.01" id="num_convienience_store" name="num_convienience_store">
    <br>
    <input type="submit" value="Submit">
  </form>
</div>
</body>
</html>